<div class="home__container">    
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="EXCLUSIVE"
        gamePrice="R$$ 199"
        gameType="Blue Ray | PS4"
    />
    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 299"
        gameType="ONLINE | PS4"
    />
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 499"
        gameType="Blue Ray | PS5"
    />
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 369"
        gameType="ONLINE | PS3 PS4 PS5"
    />
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 369"
        gameType="ONLINE | PS3 PS4 PS5"
    />
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 369"
        gameType="ONLINE | PS3 PS4 PS5"
    />

</div>